<!-- {{ todo }} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container ">
        <div class="row d-flex justify-content-around">
            <button class="btn btn-primary text-white">edit</button>
            <p>{{ todo.title }}</p>
            <i class="fas fa-check-square"></i>
            <button class="btn btn-success text-white">toggle complete</button>
            <button class="btn btn-danger">delete</button>
        </div>
    </div>
    <br>
</body>

</html>
