<div class="container ">
    <div class="row d-flex justify-content-around pb-3">
        <form method="POST" action="{% url 'app:toggle_editing' todo.id%}">
            {% csrf_token %}
            <button class="btn btn-primary text-white">edit</button>
        </form>
        {% if todo.editing %}
        <form class="d-flex" method="POST" action="{% url 'app:new-title' todo.id%}">
            {% csrf_token %}
            <input name="title" type="text" class="form-control col-10">
            <button class="btn btn-primary"><i class="fas fa-save"></i></button>
        </form>

        {% else %}
        <p>{{ todo.title }}</p>
        {% endif %}

        <div class="d-flex ">

            {% if todo.completed %}
            <div class="pr-2">
                <i class="fas fa-check"></i>
            </div>
            {% else %}
            <div class="pr-2">
                <i class="fas fa-times"></i>
            </div>
            {% endif %}
            <!-- {{ todo.title}} {{todo.completed}} -->
            <form method="POST" action="{% url 'app:toggle_completed' todo.id%}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success text-white">toggle complete</button>
            </form>
        </div>

        <form method="POST" action="{% url 'app:delete' todo.id%}">
            {% csrf_token %}
            <button class="btn btn-danger">delete</button>
        </form>



    </div>
</div>
